<div>
<footer class="footer section-dark">
    <div class="container">
        <div class="row">
            <div class="credits ml-auto text-center">
                <span>
                    2 Timothy 3:16-17 
                    <a href="" target="_blank">|  Privacy Notice</a>
                </span>
                <span class="copyright">
                    | © 2018 made with <i class="fa fa-heart heart"></i> by RyanJeff Brual
                </span>
            </div>
        </div>
    </div>
</footer>
</div>