<div class="wrapper" id="aboutRj">
    <div class="page-header page-header-xs banner-image-about" data-parallax="true">
        <div class="filter"></div>
    </div>
    <div class="section profile-content">
        <div class="container">
            <div class="owner">
                <div class="avatar">
                    <%= image_tag "faces/meandyou.jpeg", alt:"Circle Image", class:"img-circle img-no-padding img-responsive" %>
                </div>
                <div class="name">
                    <h4 class="note">RyanJeff Brual<br /></h4>
                    <span class="label label-default">IT Consultant</span>
                    <span class="label label-warning">Entrepreneur</span>
                    <span class="label label-primary">Web Developer</span>
                    <span class="label label-success">Mentor</span>
                    <span class="label label-info">Missionary</span>
                </div>
            </div>
                <div class="row">
                    <div class="col-md-6 ml-auto mr-auto text-center">
                        <p>An artist of considerable range, Jane Faker — the name taken by Melbourne-raised, Brooklyn-based Nick Murphy — writes, performs and records all of his own music, giving it a warm, intimate feel with a solid groove structure. </p>
                        <br />
                        <btn class="btn btn-outline-default btn-round" data-toggle="modal" data-target="#myModal"><i class="fa fa-cog"></i> Contact Me</btn>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>	

            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title text-center" id="exampleModalLabel">Contact Me?</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    <div class="modal-body"> 
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 ml-auto mr-auto">
                                <form class="contact-form">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label>Name</label>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="nc-icon nc-single-02"></i>
                                                </span>
                                                <input type="text" class="form-control" placeholder="Name">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <label>Email</label>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="nc-icon nc-email-85"></i>
                                                </span>
                                                <input type="text" class="form-control" placeholder="Email">
                                            </div>
                                        </div>
                                    </div>
                                    <label>Message</label>
                                    <textarea class="form-control" rows="4" placeholder="Tell us your thoughts and feelings..."></textarea>
                                    <div class="row">
                                        <div class="col-md-12 ml-auto mr-auto">
                                            <button class="btn btn-danger btn-lg btn-fill col-md-12">Send Message</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
