<div class="wrapper" id="aboutRj">
    <div class="page-header page-header-xs banner-image-about" data-parallax="true">
        <div class="filter"></div>
    </div>
    <div class="section profile-content">
        <div class="container">
            <div class="owner">
                <div class="avatar">
                    <%= image_tag "faces/meandyou.jpeg", alt:"Circle Image", class:"img-circle img-no-padding img-responsive" %>
                </div>
                <div class="name">
                    <h4 class="note">RyanJeff Brual<br /></h4>
                    <span class="label label-default">IT Consultant</span>
                    <span class="label label-warning">Entrepreneur</span>
                    <span class="label label-primary">Web Developer</span>
                    <span class="label label-success">Mentor</span>
                    <span class="label label-info">Missionary</span>
                </div>
            </div>
                <div class="row">
                    <div class="col-md-6 ml-auto mr-auto text-center">
                        <p>An artist of considerable range, Jane Faker — the name taken by Melbourne-raised, Brooklyn-based Nick Murphy — writes, performs and records all of his own music, giving it a warm, intimate feel with a solid groove structure. </p>
                        <br />
                        <%= render 'partials/emailbutton'%>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>	
<%= render :file => 'pages/new' %>

