<div class="pages-header banner-image" data-parallax="true">
  <div class="filter">
  </div>
  <div class="container">
    <div class="motto text-center">
      <h2 class="presentation-title" >RyanJeff</h2>
      <h3>Let's bring your idea in to reality</h3>
      <br />
        <a href="#" class="btn btn-outline-neutral btn-round">
          <i class="fa fa-play"></i>Latest Video Tutorial
        </a>
      <button type="button" class="btn btn-outline-info btn-round">Explore</button>
    </div>
  </div>
  <div class="moving-clouds">
  </div>
</div>

<%= render 'articles' %>
<%= render 'about' %>