.banner-image {
  background-image: image-url('antoine-barres.jpg');
}
.banner-image-about {
  background-image: image-url('lagon.jpg');
}
.moving-clouds{
  background-image: image-url('clouds.png');
}
// About Profiles
.profile-content {
  position: relative;
  padding-top: 0;
  z-index: 2;
}

