.banner-image {
  background-image: image-url('antoine-barres.jpg');
}
.banner-image-about {
  background-image: image-url('mill.jpg');
}
.moving-clouds{
  background-image: image-url('clouds.png');
}
// About Profiles
.profile-content {
  position: relative;
  padding-top: 0;
  z-index: 2;
}
.typeBanner{
  z-index: 200;
  color: darkslategrey;
}
p.aboutMe{
  text-align: justify;
}
.carousel-control {
  background-color: #2BA9CD;
  border-radius: 50%;
  opacity: 1;
  text-shadow: none;
}